@charset "UTF-8";
@import "mixin";
.myCarOrder-model {
    background: #fff;
    font-family: "Microsoft YaHei","Segoe UI";
     padding:0 pxToRem(30);
       box-shadow:0px 1px 0px 0px rgba(203,203,203,0.50);
}
.myCarOrder-top {
    border-bottom: 1px solid #d5d5d5;
    padding: pxToRem(24) 0;
}
.radius-icon-public {
    width: pxToRem(42);
    height: pxToRem(42);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.radius-icon-common {
    background-color: #36BC99;
    background-image: url("../images/commonCar.png");
    background-size: pxToRem(27) pxToRem(28);
}
.radius-icon-oil {
    background-color: #F96268;
    background-image: url("../images/commonCarOil.png");
    background-size: pxToRem(20) pxToRem(28);
}
.text-carCommon {
    font-size: pxToRem(34);
    color: #000000;
    letter-spacing: 0;
    display: inline-block;
    margin-left: pxToRem(20);
    line-height:pxToRem(31);
    vertical-align: middle;
}
.text-carRight {
    font-size: pxToRem(34);
     float:right;
     line-height:pxToRem(48);
    vertical-align: middle;
}
.myCarOrder-down{
    position:relative;
     padding-top:pxToRem(31);
   padding-bottom:pxToRem(30);
}
.myCarOrder-down p {
    color: #888;
    font-size: pxToRem(28);
}

.MerchantSucceed {
      display: inline-block;
    margin-top: pxToRem(30);
   
}
.text-serverLeft {
    display: inline-block;
    margin-right: pxToRem(50);
    line-height:pxToRem(28);
}

.text-evaluate {
    display: inline-block;
    color: #00aaee;
    border: pxToRem(2) solid #00aaee;
    border-radius:pxToRem(6);
    font-size:pxToRem(24);
    text-align:center;
    float:right;
    width:pxToRem(96);
    height:pxToRem(44);
    line-height: pxToRem(44);
    margin-top:pxToRem(20);
}
.myCarOrder-model-margin{
    margin-top:pxToRem(30);
}
.text-serverRight-other{
    color:#ff7700;
}